In [1]:
import pip
import pandas as pd
import time
import numpy as np

main_df = pd.read_csv('Dataset3.csv') #Dataset3 as chosen by the group
main_df.drop(columns='Unnamed: 0', inplace=True) #Dropping the first column which is named as 'Unnamed: 0'
main_df.replace(0,np.NaN)

#Changing list of columns; Please refer to Jupyter Notebook for source of itemlist
#itemList is sorted by sales volumes, effectively indicating the most purchased items.
itemList = ['Game of Thrones','Band Brothers','Breaking Bad','Planet Earth','The Wire','Rick and Morty','Avatar: Last Airbender','Sherlock','Firefly','Death Note','Dark Knight','True Detective','Fargo','Lord Rings: Return King','Arrested Development','Black Mirror','Stranger Things',': Fellowship Ring','Office','Rome','Inception','House Cards','Narcos','Westworld','Six Feet Under',': Two Towers','M.D.','Doctor Who','Its Always Sunny in Philadelphia','Dexter','Daredevil','Better Call Saul','Sen to Chihiro no kamikakushi','Cidade de Deus','Mad Men','Sons Anarchy','Parks Recreation','Boardwalk Empire','Suits','Vikings','Interstellar','Mr. Robot','Punisher','La casa papel','Handmaids Tale','Gladiator','Memento','Pianist','Supernatural','Departed','Prestige','Community','Spartacus: Blood Sand','Intouchables','Hannibal','Whiplash','Mindhunter','Scrubs','24','Oldeuboi','Lost','Prison Break','Lives Others','WALL-E','Fringe','Modern Family','3 Idiots','Rises','Django Unchained','Coco','Snatch','Requiem for a Dream','Amiele','Eternal Sunshine Spotless Mind','Batman Begins','How I Met Your Mother','Californication','Inglourious Basterds','Up','Walking Dead','Toy Story ','Homeland','Jagten','Beautiful ','Der Untergang','Hauru ugoku shiro','V Vendetta','Big Bang Theory','Pans Labyrinth','There Will Be ','El secreto sus ojos','Warrior','Wolf Street','Inside Out','Room','Three Billboards Outside Ebbing','Missouri','Amores perros','Faa yeung nin wa','Monsters Inc.']
itemList = itemList[0:100] #limiting to entry size
main_df.index = itemList
print(main_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, Game of Thrones to Monsters Inc.
Columns: 300 entries, 0 to 299
dtypes: float64(300)
memory usage: 235.2+ KB
None

Assume columns being clients

In [2]:
main_df

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
Game of Thrones,1.0,5.0,4.0,NaN,1.0,3.0,4.0,1.0,5.0,NaN,...,3.0,5.0,NaN,2.0,NaN,1.0,4.0,5.0,3.0,4.0
Band Brothers,NaN,NaN,5.0,3.0,4.0,1.0,4.0,NaN,NaN,1.0,...,5.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0
Breaking Bad,2.0,4.0,1.0,NaN,NaN,4.0,3.0,NaN,4.0,4.0,...,3.0,2.0,4.0,NaN,3.0,2.0,4.0,5.0,1.0,4.0
Planet Earth,3.0,5.0,1.0,5.0,1.0,3.0,5.0,3.0,2.0,4.0,...,1.0,2.0,2.0,2.0,5.0,4.0,NaN,NaN,3.0,NaN
The Wire,NaN,NaN,5.0,3.0,2.0,1.0,4.0,NaN,4.0,1.0,...,3.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Three Billboards Outside Ebbing,1.0,5.0,5.0,2.0,NaN,NaN,3.0,2.0,4.0,5.0,...,4.0,1.0,NaN,5.0,NaN,2.0,5.0,4.0,3.0,4.0
Missouri,3.0,4.0,NaN,3.0,NaN,3.0,NaN,1.0,3.0,2.0,...,4.0,3.0,1.0,4.0,5.0,5.0,3.0,2.0,4.0,NaN
Amores perros,2.0,2.0,2.0,NaN,4.0,1.0,1.0,4.0,5.0,3.0,...,4.0,4.0,5.0,2.0,5.0,4.0,2.0,NaN,4.0,4.0
Faa yeung nin wa,1.0,5.0,NaN,NaN,1.0,5.0,5.0,4.0,4.0,NaN,...,3.0,2.0,5.0,4.0,NaN,3.0,3.0,5.0,3.0,2.0
Monsters Inc.,NaN,1.0,4.0,1.0,2.0,4.0,NaN,1.0,1.0,1.0,...,4.0,5.0,3.0,NaN,2.0,NaN,NaN,5.0,NaN,NaN

In [3]:
from Collab import CollaborativeFiltering #Do change source file to which ever is faster if there exists as such
k = 5
miner = CollaborativeFiltering(k)
print('Miner_Collab Config:', k)

Miner_Collab Config: 5

**From specification (Data Mining):**<br>
Answer the question: Give the top 5 items that are most similar to the item at index 0.

The *itemList* is synchronous to the indices of the DataFrame thus the list's 0th index is also the DF's 0th index.

In [4]:
item = main_df.loc[itemList[0], :]
drop_item = main_df.drop(itemList[0])
similar_items = miner.get_k_similar(drop_item, item)
print('Item:{:}\nSimilar Items:\n{:}\n========================================'.format(itemList[0],similar_items[1].nlargest(5).round(4)))

Item:Game of Thrones
Similar Items:
Suits                   0.1499
Intouchables            0.1254
Californication         0.1166
Modern Family           0.1158
Arrested Development    0.1028
dtype: float64
========================================