# CSMODEL
### Project 2 - Group 5
Members:
- Alon-alon, Jason Miguel E.
- Escalona, Jose Miguel A.
- Llorca, Marcelino Francis S.

### 1. Dataset Representation

The dataset that was chosen for this project was *Dataset3.csv*. It could be desribed that the dataset shows what seems like **recommendations systems type of problem**, where **each column may represent an item or word from a store or a document, with each row possibly consisting either a customer or document.**

The reasons for it to be considered as a recommendation systems problem are as follows:
1. <Reason 1>
2. <Reason 2>

In [1]:
import pip
import pandas as pd
import time
import numpy as np

main_df = pd.read_csv('Dataset3.csv') #Dataset3 as chosen by the group
main_df.drop(columns='Unnamed: 0', inplace=True) #Dropping the first column which is named as 'Unnamed: 0'

In [2]:
main_df

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,1.0,5.0,4.0,NaN,1.0,3.0,4.0,1.0,5.0,NaN,...,3.0,5.0,NaN,2.0,NaN,1.0,4.0,5.0,3.0,4.0
1,NaN,NaN,5.0,3.0,4.0,1.0,4.0,NaN,NaN,1.0,...,5.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0
2,2.0,4.0,1.0,NaN,NaN,4.0,3.0,NaN,4.0,4.0,...,3.0,2.0,4.0,NaN,3.0,2.0,4.0,5.0,1.0,4.0
3,3.0,5.0,1.0,5.0,1.0,3.0,5.0,3.0,2.0,4.0,...,1.0,2.0,2.0,2.0,5.0,4.0,NaN,NaN,3.0,NaN
4,NaN,NaN,5.0,3.0,2.0,1.0,4.0,NaN,4.0,1.0,...,3.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.0,5.0,5.0,2.0,NaN,NaN,3.0,2.0,4.0,5.0,...,4.0,1.0,NaN,5.0,NaN,2.0,5.0,4.0,3.0,4.0
96,3.0,4.0,NaN,3.0,NaN,3.0,NaN,1.0,3.0,2.0,...,4.0,3.0,1.0,4.0,5.0,5.0,3.0,2.0,4.0,NaN
97,2.0,2.0,2.0,NaN,4.0,1.0,1.0,4.0,5.0,3.0,...,4.0,4.0,5.0,2.0,5.0,4.0,2.0,NaN,4.0,4.0
98,1.0,5.0,NaN,NaN,1.0,5.0,5.0,4.0,4.0,NaN,...,3.0,2.0,5.0,4.0,NaN,3.0,3.0,5.0,3.0,2.0
99,NaN,1.0,4.0,1.0,2.0,4.0,NaN,1.0,1.0,1.0,...,4.0,5.0,3.0,NaN,2.0,NaN,NaN,5.0,NaN,NaN

For easy representation, an external dataset was used to serve as the index values of the DataFrame. The data was sourced from Devesh Kumar Rai's dataset in Kaggle. The dataset contains the titles of movies and its respective ratings from IMDB and Metascore as well as the number of votes of said movie.

The data preprocessing for this will be by sorting by IMDB rating afterwhich the resulting form of list will be used as a list for the indices of the *main_df*.

Source: https://www.kaggle.com/raidevesh05/movie-ratings-dataset

In [3]:
movieList = pd.read_csv('movie_ratings.csv')
movieList.drop(columns='Unnamed: 0', inplace=True)
movieList.drop_duplicates(subset='movie',inplace=True)
movieList.sort_values(by='imdb',inplace=True,ascending=False)
movieList

,movie,year,imdb,metascore,votes
1100,Game of Thrones,2011,9.5,NaN,1410281
801,Breaking Bad,2008,9.5,NaN,1159103
113,Band of Brothers,2001,9.5,NaN,307747
647,Planet Earth,2006,9.4,NaN,142671
218,The Wire,2002,9.3,NaN,238822
...,...,...,...,...,...
845,The Happening,2008,5.0,NaN,184319
1147,The Twilight Saga: Breaking Dawn - Part 1,2011,4.9,NaN,205429
349,Charlie's Angels: Full Throttle,2003,4.9,NaN,111449
925,The Twilight Saga: New Moon,2009,4.7,NaN,245496
1518,Fifty Shades of Grey,2015,4.1,NaN,274536

In [4]:
itemList = movieList['movie'].to_list()
itemList = itemList[0:100] #limiting to entry size
main_df.index = itemList
print(main_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, Game of Thrones to American Horror Story
Columns: 300 entries, 0 to 299
dtypes: float64(300)
memory usage: 235.2+ KB
None

In [5]:
#Resulting DataFrame
main_df

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
Game of Thrones,1.0,5.0,4.0,NaN,1.0,3.0,4.0,1.0,5.0,NaN,...,3.0,5.0,NaN,2.0,NaN,1.0,4.0,5.0,3.0,4.0
Breaking Bad,NaN,NaN,5.0,3.0,4.0,1.0,4.0,NaN,NaN,1.0,...,5.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0
Band of Brothers,2.0,4.0,1.0,NaN,NaN,4.0,3.0,NaN,4.0,4.0,...,3.0,2.0,4.0,NaN,3.0,2.0,4.0,5.0,1.0,4.0
Planet Earth,3.0,5.0,1.0,5.0,1.0,3.0,5.0,3.0,2.0,4.0,...,1.0,2.0,2.0,2.0,5.0,4.0,NaN,NaN,3.0,NaN
The Wire,NaN,NaN,5.0,3.0,2.0,1.0,4.0,NaN,4.0,1.0,...,3.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
The Help,1.0,5.0,5.0,2.0,NaN,NaN,3.0,2.0,4.0,5.0,...,4.0,1.0,NaN,5.0,NaN,2.0,5.0,4.0,3.0,4.0
Amores perros,3.0,4.0,NaN,3.0,NaN,3.0,NaN,1.0,3.0,2.0,...,4.0,3.0,1.0,4.0,5.0,5.0,3.0,2.0,4.0,NaN
Donnie Darko,2.0,2.0,2.0,NaN,4.0,1.0,1.0,4.0,5.0,3.0,...,4.0,4.0,5.0,2.0,5.0,4.0,2.0,NaN,4.0,4.0
Before Sunset,1.0,5.0,NaN,NaN,1.0,5.0,5.0,4.0,4.0,NaN,...,3.0,2.0,5.0,4.0,NaN,3.0,3.0,5.0,3.0,2.0
American Horror Story,NaN,1.0,4.0,1.0,2.0,4.0,NaN,1.0,1.0,1.0,...,4.0,5.0,3.0,NaN,2.0,NaN,NaN,5.0,NaN,NaN

### 2. Exploratory Data Analysis

### 3. Data Mining

**INSTRUCTIONS FOR COLLABORATIVE FILTERING**
- Use the collaborative_filtering.py file from our exercises. Make sure that your code is working properly. Set k to 5.
- Perform collaborative filtering.
- Answer the question: Give the top 5 items that are most similar to the item at index 0.

In [6]:
from Collab import CollaborativeFiltering #Do change source file to which ever is faster if there exists as such
k = 5
miner = CollaborativeFiltering(k)
print('Miner_Collab Config:', k)

Miner_Collab Config: 5

**From specification (Data Mining):**<br>
Answer the question: Give the top 5 items that are most similar to the item at index 0.

The *itemList* is synchronous to the indices of the DataFrame thus the list's 0th index is also the DF's 0th index.

In [7]:
item = main_df.loc[itemList[0], :]
drop_item = main_df.drop(itemList[0])
similar_items = miner.get_k_similar(drop_item, item)
print('Item:{:}\nSimilar Items:\n{:}\n========================================'.format(itemList[0],similar_items[1].nlargest(5).round(4)))

Item:Game of Thrones
Similar Items:
The Punisher        0.1499
Mindhunter          0.1254
The Walking Dead    0.1166
Modern Family       0.1158
Stranger Things     0.1028
dtype: float64
========================================