# CSMODEL_Test

### Data: Philippine Family Income and Expenditures
Data Size: 41544 rows x 60 columns<br>

The dataset was sourced by Francis Paul Flores which was provided by the Philippine Statistics Office PSA in 2017. Accroding to Flores, the PSA conducts Family Income and Expenditure Surveys on the nation every three years. This aims to provide data regarding patterns on how family incomes affect expenditure and consumption of goods/services by families in the country.
<br><br>
**Sources:** <br> 
Dataset - https://www.kaggle.com/grosvenpaul/family-income-and-expenditure <br>
Combining Columns - https://www.statology.org/pandas-combine-two-columns/ <br>
Other functions - https://pandas.pydata.org/pandas-docs/stable/reference/index.html <br>

In [1]:
#Import Libraries
import pandas as pd
import numpy as np

In [2]:
#Import Data
ph_df = pd.read_csv("philippine_family_income_expenditure.csv")
ph_df.shape

(41544, 60)

In [3]:
#Please uncomment the line of code to be used.

#Check contents of ph_df
#ph_df.info

#Check if there exists null data points in the dataframe
#ph_df.isnull().any()

## 1
### Checking for null values

Checking whether there are columns that exists on any column at a insignificant quantity.

In [4]:
#Count number of null values
ph_df_nan=ph_df.columns[ph_df.isnull().any()].tolist()
ph_df[ph_df_nan].isnull().sum()

Household Head Occupation         7536
Household Head Class of Worker    7536
dtype: int64

In [5]:
#Checking datatype of 'Household Head Occupation'
type(ph_df['Household Head Occupation'].loc[0])

str

In [6]:
#Checking datatype of 'Household Head Class of Worker'
type(ph_df['Household Head Class of Worker'].loc[0])

str

Due to a big number of null values, the values for 'Household Head Occupation' and 'Household Head Class of Worker' won't be ommited, it will rather be replaced with a "None" value.

In [7]:
#Setting mentioned columns with null values to "None"
ph_df.loc[ph_df['Household Head Occupation'].isnull(),'Household Head Occupation'] = "None"
ph_df.loc[ph_df['Household Head Class of Worker'].isnull(),'Household Head Class of Worker'] = "None"

In [8]:
#Recheck if there exists null value on any column
#ph_df.isnull().any()

## 2
### Checking for columns of similar nature

Notice that there are columns that indicate commonality: <br>
**'Number of Car, Jeep, Van', 'Number of Motorized Banca', and 'Number of Motorcycle/Tricycle'** - All of which belong to Personal Mobility or Personal Vehicles. <br>
**'Alcoholic Beverages Expenditure' and 'Tobacco Expenditure'** - All of which belong to Unhealthy Lifestyle Products.
<br><br>
The aforementioned columns can then be replaced with the new columns

In [9]:
#Creating New Columns
ph_df['Number of Vehicles'] = ph_df['Number of Car, Jeep, Van'] + ph_df['Number of Motorized Banca'] + ph_df['Number of Motorcycle/Tricycle']
ph_df['Sin Goods Expenditure'] = ph_df['Alcoholic Beverages Expenditure'] + ph_df['Tobacco Expenditure']

#Removing Columns; Don't forget to copy it back to ph_df
ph_df = ph_df.drop(columns=['Number of Car, Jeep, Van','Number of Motorized Banca','Number of Motorcycle/Tricycle','Alcoholic Beverages Expenditure','Tobacco Expenditure']).copy()

#Validate that changes did occur
ph_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41544 entries, 0 to 41543
Data columns (total 57 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Total Household Income                         41544 non-null  int64
 1   Region                                         41544 non-null  object
 2   Total Food Expenditure                         41544 non-null  int64
 3   Main Source of Income                          41544 non-null  object
 4   Agricultural Household indicator               41544 non-null  int64
 5   Bread and Cereals Expenditure                  41544 non-null  int64
 6   Total Rice Expenditure                         41544 non-null  int64
 7   Meat Expenditure                               41544 non-null  int64
 8   Total Fish and  marine products Expenditure    41544 non-null  int64
 9   Fruit Expenditure                              41544 non-null  int64
 10  Vegetables Expenditure                         41544 non-null  int64
 11  Restaurant and hotels Expenditure              41544 non-null  int64
 12  Clothing, Footwear and Other Wear Expenditure  41544 non-null  int64
 13  Housing and water Expenditure                  41544 non-null  int64
 14  Imputed House Rental Value                     41544 non-null  int64
 15  Medical Care Expenditure                       41544 non-null  int64
 16  Transportation Expenditure                     41544 non-null  int64
 17  Communication Expenditure                      41544 non-null  int64
 18  Education Expenditure                          41544 non-null  int64
 19  Miscellaneous Goods and Services Expenditure   41544 non-null  int64
 20  Special Occasions Expenditure                  41544 non-null  int64
 21  Crop Farming and Gardening expenses            41544 non-null  int64
 22  Total Income from Entrepreneurial Acitivites   41544 non-null  int64
 23  Household Head Sex                             41544 non-null  object
 24  Household Head Age                             41544 non-null  int64
 25  Household Head Marital Status                  41544 non-null  object
 26  Household Head Highest Grade Completed         41544 non-null  object
 27  Household Head Job or Business Indicator       41544 non-null  object
 28  Household Head Occupation                      41544 non-null  object
 29  Household Head Class of Worker                 41544 non-null  object
 30  Type of Household                              41544 non-null  object
 31  Total Number of Family members                 41544 non-null  int64
 32  Members with age less than 5 year old          41544 non-null  int64
 33  Members with age 5 - 17 years old              41544 non-null  int64
 34  Total number of family members employed        41544 non-null  int64
 35  Type of Building/House                         41544 non-null  object
 36  Type of Roof                                   41544 non-null  object
 37  Type of Walls                                  41544 non-null  object
 38  House Floor Area                               41544 non-null  int64
 39  House Age                                      41544 non-null  int64
 40  Number of bedrooms                             41544 non-null  int64
 41  Tenure Status                                  41544 non-null  object
 42  Toilet Facilities                              41544 non-null  object
 43  Electricity                                    41544 non-null  int64
 44  Main Source of Water Supply                    41544 non-null  object
 45  Number of Television                           41544 non-null  int64
 46  Number of CD/VCD/DVD                           41544 non-null  int64
 47  Number of Component/Stereo set                 41544 non-null  int64
 48  Number of Refrigerator/Freezer                 41544 non-null  int64
 49  Number of Washing Machine                      41544 non-null  int64
 50  Number of Airconditioner                       41544 non-null  int64
 51  Number of Landline/wireless telephones         41544 non-null  int64
 52  Number of Cellular phone                       41544 non-null  int64
 53  Number of Personal Computer                    41544 non-null  int64
 54  Number of Stove with Oven/Gas Range            41544 non-null  int64
 55  Number of Vehicles                             41544 non-null  int64
 56  Sin Goods Expenditure                          41544 non-null  int64
dtypes: int64(42), object(15)
memory usage: 18.1+ MB

Since changes have been made, it should be much simpler to clean any data found within the columns

## 3
### Determining Object Values

Most of the columns presented are of type int64, implying that most are of numeric values which goes in-line with the fact that these are mostly income and expenditure data, however there are some data that are str in datatype.